@{
    ViewBag.Title = "User Management";
}
@section Scripts
{
    <script src="~/Scripts/GestionContact.js"></script>
}
<div class="popupModal">
    <div class="icone_type">
        <img src="~/images/icon-error.png" alt="Photo error">
    </div>
    <div class="pop_content">
        <h3>OUPS !</h3>
        <span class="ltl-consign"><i class="fa fa-info-circle"></i>Creation limit reached !</span>
        <ul class="bouttons_area">
            <li><button type="submit" id="ErrorUserLimitInputOk" data-dismiss="modal" class="blue_hit" onclick="@(" window.location.href='" + @Url.RouteUrl("Home", new {controller = "Home", action = "ListeUser"}) + "' ");">Ok</button></li>
        </ul>
    </div>
</div>