
@{
    ViewBag.Title = "Edit Confirmation";
 

    Layout = "~/Views/Shared/LayoutConnected.cshtml";

}
<main class="wrapperpages">
    <div class="page pagesUser clear">
        <section class="column2 rightDivision fullWidth">
            <div class="rowpad">
                <div id="divisionContent">
                    <div class="breadcrumb">
                        <span>Commande > Editer commande</span>
                        <hr />
                    </div>
                    <div class="popupModal">
                        <div class="icone_type">
                            <img src="~/images/icon-done.png" alt="Photo done">
                        </div>
                        <div class="pop_content">
                            <h3>Done !</h3>
                            <span class="ltl-consign"><i class="fa fa-info-circle"></i>La commande a été modifiée avec succès!</span>
                            <ul class="bouttons_area">
                                <li><button type="submit" class="blue_hit" onclick="@("window.location.href='" + @Url.RouteUrl("Home", new {controller = "Commandes", action = "ListCommandes"}) + "'");">Ok</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>