@model RedactApplication.Models.UTILISATEURViewModel
@{
    ViewBag.Title = "Commande";
}

<div class="box-pop-up-envoye login-container-envoye innerpopup">
    <div class="item-container  resetmessage">
        <div class="icone_type">
            <img src="~/images/icon-error.png" alt="Photo error">
        </div>
        <div class="center_blc resetmessage">
            <div class="formfields">
                <div class="done-request">

                    <h3><strong>Oups !</strong></h3>
                    <span class="ltl-consign messlab">
                        <i class="fa fa-3x fa-info-circle"></i>
                        Le lien que vous venez de cliquer a expiré. Veuillez contacter le référenceur pour recevoir un nouveau lien.
                    </span>
                    <div class="btn-submit">
                        @using (Html.BeginForm("ListCommandes", "Commandes", FormMethod.Post))
                        {
                            <input type="submit" class="messok" value="Ok">
                        }
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>