@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error user does not exist";
}
<div class="popupModal">
    <div class="icone_type">
        <img src="~/images/icon-error.png" alt="Photo error">
    </div>
    <div class="pop_content">
        <h3>OUPS !</h3>
        <span class="ltl-consign"><i class="fa fa-info-circle"></i>An account with this e-mail address does not exist. Please sign in with another e-mail.</span>
        <ul class="bouttons_area">
            <li><button type="submit" value="Send" class="blue_hit" onclick="redirectForgotten();">Ok</button></li>
        </ul>
    </div>
</div>
<script>
    function redirectForgotten(parameters) {
        window.location.href = "/Login/MotDePasseOublie";
    }
</script>