@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="popupModal">
    <div class="icone_type">
        <img src="~/images/icon-error.png" alt="Photo error">
    </div>
    <div class="pop_content">
        <h3>OUPS !</h3>
        <span class="ltl-consign"><i class="fa fa-info-circle"></i>Invalid login or password.<br> Please clic on the button bellow to go to the login page.</span>
        <ul class="bouttons_area">
            <li><button type="submit" value="Send" class="blue_hit" onclick="redirectLogin();">Ok</button></li>
        </ul>
    </div>
</div>
<script>
    function redirectLogin(parameters) {
        window.location.href = "/Login/Accueil";
    }
</script>