@model RedactApplication.Models.UTILISATEURViewModel
@{
    ViewBag.Title = "Contact";
}

<div class="innerform-container fgt">
    <div class="item-container">
        <i class="fa fa-3x fa-lock ftg"></i>
        <h3><strong>Forgot your password ?</strong></h3>
        <span class="ltl-consign"><i class="fa fa-info-circle"></i> Please enter your email address and we will send you password reset instructions.</span>
        <div class="dashCreate-user item-container forgotpass">

            <div class="center_blc">

                @using (Html.BeginForm("SendMail", "Login", FormMethod.Post, new { @class = "formfields" }))
                {
                    <fieldset>

                        @Html.TextBoxFor(x => x.userMail, new { @class = "input", @placeholder = "Email adress", @required = true, @type = "email", pattern = "/^[a-zA-Z0-9.!#$%&'*+\\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}" })
                        <div class="divisionSelect">
                            <div class="btn-submit btn-submituser sav_us1">
                                <input type="submit" value="Send" class="">
                                @Html.ActionLink("Cancel", "Accueil", "Login", new { onclick = "redirectLogin();" }, new { @class = "resetbtn cacel_us1 left_b1 fwd" })
                            </div>
                        </div>
                    </fieldset>

                }


            </div>
        </div>
    </div>
</div>




<script>
    function redirectLogin() {
        window.location.href = "/Login/Accueil";
    }

</script>