

@model CustomerApplication.Models.UTILISATEURViewModel
@{
    ViewBag.Title = "Contact";
}

<div class="box-pop-up-envoye login-container-envoye innerpopup">
    <div class="item-container  resetmessage">
        <div class="iconmessrest">
            <i class="fa fa-3x fa-check resetmsg "></i>
        </div>
        <div class="center_blc resetmessage">
            <div class="formfields">
                <div class="done-request">
                    <h3><strong>Done !</strong></h3>
                    <span class="ltl-consign messlab">
                        <i class="fa fa-3x fa-info-circle"></i>
                        Your password was successfully changed.
                    </span>
                    <div class="btn-submit">
                        @using (Html.BeginForm("DoSendMail", "Login", FormMethod.Post))
                        {
                            <input type="submit" class="messok" value="Ok">
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


