@model RedactApplication.Models.UTILISATEURViewModel
@{
    ViewBag.Title = "Contact";
    ViewBag.id = Request.Params["hash"];
    ViewData["hash"] = Request.Params["hash"];
}




<div class="innerform-container fgt">
    <div class="item-container">
        <i class="fa fa-3x fa-lock ftg"></i>
        <h3>
            <strong>Reset Password</strong>
        </h3>
        <span class="ltl-consign"><i class="fa fa-info-circle"></i> Please enter your new password and clic the "Reset Password" button to save it.</span>
        <div class="dashCreate-user item-container forgotpass">
            <div class="center_blc">

                @using (Html.BeginForm("ConfirmUpdatePassword", "Login", new { token = @ViewBag.userId }, FormMethod.Post, new { @class = "formfields" }))
            {
                    <fieldset>

                        @Html.PasswordFor(x => x.userMotdepasse, new { @class = "input", @placeholder = "New password", @required = true })
                        @Html.PasswordFor(x => x.userMotdepasseConfirme, new { @class = "input", @placeholder = "Confirm new password", @required = true })

                        <ul class="policies">
                            <li><strong>Password policies :</strong></li>
                            <li><span class="ltl-consign">- Must contain at least 8 characters</span></li>
                            <li><span class="ltl-consign">- Must contain at least 1 non-alphanumeric character</span></li>
                            <li><span class="ltl-consign">- Must contain at least 1 digit character</span></li>
                            <li><span class="ltl-consign">- Must contain at least 1 uppercase character</span></li>
                            <li><span class="ltl-consign">- Must contain at least 1 lowercase character</span></li>
                        </ul>

                        <div class="divisionSelect">
                            <div class="btn-submit btn-submituser sav_us1">
                                <input type="submit" value="Reset">
                                @Html.ActionLink("Cancel", "Accueil", "Login", new { id = "" }, new { @class = "resetbtn cacel_us1 left_b1 fwd" })
                            </div>
                        </div>
                    </fieldset>

                }

            </div>
        </div>
    </div>
</div>